/**
 * italodr theme for reveal.js.
 * Author: Italo Devoto Ramella
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400|Playfair+Display&display=swap');

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$white:     #ffffff;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$lightMagenta: #f14e9d;
$violet:    #6c71c4;
$lightViolet: #a6a8f3;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #9caa41;

$dark:      #181818;
$gray:      #bababa;

$tone-blue: #005397;
$tone-beige: #c5beaa;
$tone-red: #ef3e4a;
$tone-mint: #167c80;
$tone-lightmint: #61bfad;

// Background of the presentation
$backgroundColor: $white;

// Primary/body text
$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 20px;
$mainColor: $dark;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: $mainFont;
$headingColor: $dark;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: none;

$heading1Size: 2.369em;
$heading2Size: 1.777em;
$heading3Size: 1.333em;
$heading4Size: 1em;

// Links and actions
$linkColor: $tone-blue;
$linkColorHover: $tone-red;

// Text selection
$selectionBackgroundColor: $magenta;
$selectionColor: $base1;

#italodr {
    @import "../components/reset";
    @import "../components/animations";
    @import "../components/avatar";
    @import "../components/blockquote";
    @import "../components/code";
    @import "../components/lists";
    @import "../components/navigation";
    @import "../components/typography";
    @import "../components/controls";

    @import "../components/utilities";
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

