<section data-background="linear-gradient(135deg, #2980b9, #6dd5fa, #ffffff)" data-background-size="cover" data-background-transition="slide">
  <h1 class="huge white"><span class="big">🖖🏽</span><br />Hola!</h1>
</section>
<section>
  <div class="avatar">
    <img src="../img/italodr.jpg" alt="Imagen de perfil de Italo Devoto Ramella" />
  </div>
  <h1 class="large mb1q">Italo Devoto Ramella</h1>
  <h2 class="small mb2">Head of front-end developers at Runroom</h2>

  <div class="fragment fade-up">
    <div class="small blue center mb1h">@italodr</div>
    <ul class="rrss">
      <li>
        <a href="https://github.com/italodr" target="_blank"
          ><img src="../img/rrss/github.svg" alt="Github"
        /></a>
      </li>
      <li>
        <a href="https://bitbucket.org/italodr/" target="_blank"
          ><img src="../img/rrss/bitbucket.svg" alt="Bitbucket"
        /></a>
      </li>
      <li>
        <a href="https://codesandbox.io/u/italodr" target="_blank"
          ><img src="../img/rrss/codesandbox.svg" alt="Codesandbox"
        /></a>
      </li>
      <li>
        <a href="https://codepen.io/italodr/" target="_blank"
          ><img src="../img/rrss/codepen.svg" alt="Codepen"
        /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/italodr/" target="_blank"
          ><img src="../img/rrss/linkedin.svg" alt="Linked in"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/italodr" target="_blank"
          ><img src="../img/rrss/instagram.svg" alt="Instagram"
        /></a>
      </li>
      <li>
        <a href="https://www.pinterest.es/italodr/" target="_blank"
          ><img src="../img/rrss/pinterest.svg" alt="Pinterest"
        /></a>
      </li>
    </ul>
  </div>
  <div class="fragment fade-up">
    <div class="small blue center mb1h">@italo_dr</div>
    <ul class="rrss">
      <li>
        <a href="https://twitter.com/@italo_dr" target="_blank"
          ><img src="../img/rrss/twitter.svg" alt="Twitter"
        /></a>
      </li>
    </ul>
  </div>
</section>
