<section>
  <h1 class="pattaya huge"><span class="big">🖖🏽</span><br />Hola!</h1>
</section>
<section>
  <img class="avatar" src="../img/italodr.jpg" alt="Italo Devoto Ramella" />
  <h1 class="large">Italo Devoto Ramella</h1>
  <h5>Head of front-ends at Runroom</h5>
  <br />
  <div>
    <ul class="fragment fade-up rrss">
      <li>
        <a href="https://github.com/italodr" target="_blank"
          ><img src="../img/rrss/github.svg" alt="Github"
        /></a>
      </li>
      <li>
        <a href="https://bitbucket.org/italodr/" target="_blank"
          ><img src="../img/rrss/bitbucket.svg" alt="Bitbucket"
        /></a>
      </li>
      <li>
        <a href="https://codesandbox.io/u/italodr" target="_blank"
          ><img src="../img/rrss/codesandbox.svg" alt="Codesandbox"
        /></a>
      </li>
      <li>
        <a href="https://codepen.io/italodr/" target="_blank"
          ><img src="../img/rrss/codepen.svg" alt="Codepen"
        /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/italodr/" target="_blank"
          ><img src="../img/rrss/linkedin.svg" alt="Linked in"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/italodr" target="_blank"
          ><img src="../img/rrss/instagram.svg" alt="Instagram"
        /></a>
      </li>
      <li>
        <a href="https://www.pinterest.es/italodr/" target="_blank"
          ><img src="../img/rrss/pinterest.svg" alt="Pinterest"
        /></a>
      </li>
      <li>@italodr</li>
    </ul>
  </div>
  <div>
    <ul class="fragment fade-up rrss">
      <li>
        <a href="https://twitter.com/@italo_dr" target="_blank"
          ><img src="../img/rrss/twitter.svg" alt="Twitter"
        /></a>
      </li>
      <li>@italo_dr</li>
    </ul>
  </div>
</section>
