pre {
    font-size: .75em;
    letter-spacing: 1px;
    line-height: 1.75;

    &, * {
        font-family: 'Roboto Mono', monospace, serif;
    }

    .hljs {
        background: hsla(0, 100%, 0%, .35);
        padding: 1rem;
    }
}
