pre {
    font-family: 'Fira Code', monospace, serif;
    font-size: .9em;
    letter-spacing: 1px;
    line-height: 1.5;

    .hljs {
        background: hsla(0, 100%, 0%, .35);
        padding: 1rem;
    }
}
