pre {
    font-size: 1.333rem;
    letter-spacing: 1px;
    line-height: 1.75;

    &, * {
        font-family: 'Inconsolata', monospace;
    }

    .hljs {
        background: hsla(0, 100%, 0%, 1);
        padding: 1rem;
    }
}
