// 1.333
.huge { font-size: 4.209rem; }
.big { font-size: 3.157rem; }
.large { font-size: 2.369rem; }
.medium { font-size: 1.777rem; }
.regular { font-size: 1.43rem; }
.small { font-size: 1rem; }

.huge,
.big,
.large {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h4, h5, h6, .huge, .header {
    // text-transform: uppercase;
}

h4 + ul {
    margin-top: 20px;
}

p, blockquote, .readable {
    line-height: 1.56;
    max-width: 720px;
}

.strong { font-weight: 700; }

a:hover {
    text-decoration: underline;
}

.primary { font-family: 'Open Sans', sans-serif; }
.secondary { font-family: 'Playfair Display', serif; }
