// 1.333
.huge { font-size: 4.209rem; }
.big { font-size: 3.157rem; }
.large { font-size: 2.369rem; }
.medium { font-size: 1.777rem; }
.small { font-size: 1rem; }

.huge,
.big,
.large {
    font-weight: 800;
    letter-spacing: -3px;
}

.header {
    font-size: 1rem;
    font-weight: 700;
    left: 2rem;
    opacity: 0;
    position: fixed;
    top: 2rem;

    &::before,
    &::after {
        display: block;
    }

    &::after {
        background: $cyan;
        bottom: -20px;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 80px;
    }

    .titled & {
        opacity: 1;
        transition: opacity .3s linear;
    }
}

.left { text-align: left; }
.right { text-align: right; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h4, h5, h6, .huge, .header {
    text-transform: uppercase;
}

p, blockquote, .readable { max-width: 720px; }
.strong { font-weight: 700; }

.center {
    p, blockquote {
        margin-left: auto;
        margin-right: auto;
    }
}
