.flex {
    display: flex;
    flex: 1;
}

.row {
    display: flex;

    > * {
        display: block;
        width: 100%;
    }
}

hr {
    border: solid $base01;
    border-width: 1px 0 0;
    margin: 0 5px;
}

.white { color: #fff; }
.blue { color: $tone-blue; }

.mb3 { margin-bottom: 3rem;}
.mb2 { margin-bottom: 2rem;}
.mb1 { margin-bottom: 1rem;}
.mb1h { margin-bottom: .5rem; }
.mb1q { margin-bottom: .25rem; }
